body{
    background: linear-gradient(180deg,#cf7330, #eea911);
    height: 100vh;
}

h1{
    text-align:center;
    font-family:'Bitter', serif;
}

h2{
    text-align:center;
    font-family:'Bitter', serif;
}

p{
    text-align:center;
    font-family: 'Roboto Condensed', sans-serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;

}

ul li{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    font-size: larger;
   
}

ol li{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    
}

header{
    font-family: 'Bitter', serif;
}

a{
    color: black;
}